.main {
    margin: 5rem;
}

.children {
    width: 70%;
    margin: 0 auto;
    border: 2px solid #691313;
    border-radius: 0.5rem;
}

.divOutlet {
    height: 50vh;
    overflow-y: auto;
    margin: 2rem;
}